{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Contact{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/contact.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div id="fond" class="w-75">
        <table>
            <thead>
                <tr>
                    <th colspan="2"><h1>CONTACT & ACCÈS</h1></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="table_left">
                        <div id="coordonnees">
                            <h2>PARIS CENTRE</h2>
                            <span>2 rue de la Cité</span>
                            <span>75020 Paris</span>
                            <span>Tél. : 0600102030</span>
                            <span>E-mail :
                                <a id="email" href="mailto:chewbaccateam@barberchew.fr" target="_top">chewbaccateam@barberchew.fr</a>
                            </span>
                        </div>
                        <div id="horaires">
                            <h2>OUVERTURE</h2>
                            <span>Lundi : 9h-19h</span>
                            <span>Mardi : 9h-19h</span>
                            <span>Mercredi : 9h-19h</span>
                            <span>Jeudi : 9h-19h</span>
                            <span>Vendredi : 9h-19h</span>
                            <span>Samedi : 9h-19h</span>
                        </div>
                        <a id="button_rdv" href="#" role="button">Prendre rendez-vous</a>
                    </td>
                    <td id="table_right">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.194849783781!2d2.345307315536785!3d48.854494708935256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671e1b1673477%3A0x7e1e0ea57c14213d!2s2%20Rue%20de%20la%20Cit%C3%A9%2C%2075004%20Paris!5e0!3m2!1sfr!2sfr!4v1611932670170!5m2!1sfr!2sfr" width="523" height="454" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
