{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Contact{% endblock %}

{% block stylesheets %}
    <style>

        #table{
            position: absolute;
            text-align : center;

            table-layout: fixed;
            width: 100%;
        }
        #fond{
            position:fixed;
            height: 2000px; width:1200px;
            padding: 5% 0;
            margin: 50px 0px 15px 350px;
            background-color: white;
            opacity : 0.8;
        }
        #place{
            position:fixed;
            height: 2000px; width:1200px;
            padding: 5% 0;
            margin: 50px 0px 15px 350px;
        }
        p{
            opacity: 1;
        }

        #table_left{
            background-color: black;
            color: white;
        }
        h2{
            color: white;
        }
        #table_right{
            background-color: white;
        }


    </style>
{% endblock %}

{% block body %}
    <div id="fond"></div>
    <div id="place">
    <table id="table">
        <thead>
            <tr>
                <th colspan="2"><h1>CONTACT & ACCES</h1></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="table_left">
                <p id="heure"><B><h2>PARIS CENTRE</h2>2 rue de la Cité<br>75020 Paris<br>Tel : 0600102030<br>Email : chewbaccateam@barberchew.fr<br><br>
                    <h2>OUVERTURE</h2>Lundi : 9h-19h<br>Mardi : 9h-19h<br>Mercredi : 9h-19h<br>Jeudi : 9h-19h<br>Vendredi : 9h-19h<br>Samedi : 9h-19h</B></p>
                </td>
                <td id="table_right"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.194849783781!2d2.345307315536785!3d48.854494708935256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671e1b1673477%3A0x7e1e0ea57c14213d!2s2%20Rue%20de%20la%20Cit%C3%A9%2C%2075004%20Paris!5e0!3m2!1sfr!2sfr!4v1611932670170!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </td>
            </tr>
        </tbody>
    </table>
    </div>

{% endblock %}
