{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block stylesheets %}
    <style>
        #slogan{
            position:fixed;
            right:15%;
            bottom:10%;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="slogan" class="text-center">
        <h1 class="text-light">Be Yourself</h1>
        <h1 class="text-light">Be Chewbacca</h1>
    </div>
{% endblock %}
