{% extends 'base.html.twig' %}


{% block body %}
    <style>
        #prestation {
            position:absolute;
            height: 700px; width:1200px;
            padding: 30px;
            margin: 50px 0px 15px 350px;
            background-color: dimgrey;
            opacity: 0.7;
        }

        #hair {
            position:absolute;
            height: 500px; width:1000px;
            margin: 200px 50px 50px 450px;
            position: center;
            padding: 20px;
            background-color: whitesmoke;
            opacity: 0.9;

        }
        .titre {
            margin-top: 200px;
            padding: 20px;
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            color: white;
        }
        .hair_titre {
            font-weight: bold;
            color: white;
            font-size: 25px;
            margin-left: 80px;
            margin-top: 50px;

        }
    </style>
    <p class="titre"> PRESTATIONS </p>
    <div id="prestation">
        <p class="hair_titre">CHEWBACCA HAIR CUT "AUTOUR DES CHEVEUX"</p>

    </div>
    <div id="hair">
        <div class="container h-100 w-50 bg-white border border-dark rounded p-5">
            <h3 class="mb-5 text-center">Nos prestations</h3>

            <?php foreach($services as $service) { ?>
            <div class="row">
                <div class="col-8">
                    <p><?= $Service['title'] ?></p>
                </div>
                <div class="col">
                    <p><?= $Service['price'] ?>€</p>
                </div>
            </div>
            <hr>
            <?php } ?>
        </div>
    </div>


{% endblock %}
