{% extends 'base.html.twig' %}

{% block title %}Edit Barber{% endblock %}

{% block body %}
    <h1>Edit Barber</h1>

    {{ include('barber/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('barber_index') }}">back to list</a>

    {{ include('barber/_delete_form.html.twig') }}
{% endblock %}
