{% extends 'base.html.twig' %}

{% block body %}
    <div id="calendar-holder"></div>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/agenda.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'timeGridWeek',
                locale: 'fr',
                timezone: 'Europe/Paris',
                editable: true,
                events: {{ data|raw  }},
                themeSystem:'bootstrap',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'timeGridDay,timeGridWeek,dayGridMonth',
                },
                buttonText: {
                    today: 'Aujourd\'hui',
                    month: 'Mois',
                    week: 'Semaine',
                    day: 'Jour'
                },
                minTime: '09:00:00',
                maxTime: '19:00:00',
                height: 'auto',
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],

                eventClick: function(info) {
                    alert('Réservation : ' + info.event.title + '\n' + 'De '
                        + info.event.start + 'à ' + info.event.end);
                }
            });

            calendar.render();
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

{% endblock %}
