{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link href="{{ asset('css/service.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}


    <label for="pet-select">Choose a pet:</label>

<select name="pets" id="pet-select">
    {% for b in barbers %}
        <option value="{{ b.id }}">{{ b.firstName }}</option>
    {% endfor %}
</select>
{% endblock %}
