<h3>Bonjour et Bienvenue !</h3>

<p>Bonjour {{ name }},</p>
<p>Félicitations, vous êtes inscrit avec succès !</p>

<p>Pour vous connecter, cliquez sur : <a href="{{ url('app_login') }}">connexion</a>.</p>

<p>Merci de votre confiance.</p>
<img src="{{ absolute_url(asset('images/logo.png')) }}">
