<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Chewbacca Barber Shop - {% endblock %}</title>

        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% include 'fragments/navbar.html.twig' %}

        <div id="container">
            {% block body %}{% endblock %}
        </div>

        {% include 'fragments/footer.html.twig' %}

        <!-- font awesome js -->
        <script src="https://kit.fontawesome.com/0567d8c551.js"></script>

        <!-- bootstrap js -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
